<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	{block assets}
		<link href="/assets/css/public.css" rel="stylesheet">  <!-- Tailwind compiled output -->
		<script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>
	{/block}
	<title>{ifset title}{include title|stripHtml} | {/ifset}AcademiStore</title>
</head>

<body class="{block pageType}home{/block}">

	
	<main class="mx-auto max-w-[1400px] border-x-2 border-gray-200 main-content min-h-screen flex-1  md:mb-10 w-full">
		
		<section id="header" class="m">
			<div class="bg-gray-100 pt-3">
				<div class="bg-gradient-to-r p-4 shadow text-lg">
					{include 'headerActionBar.latte'}
					<h2 class="font-bold pl-2"><a n:href="Home:default">AcademiStore</a></h2>
				</div>
			</div>
		</section>
		
		{block underHeader}{/block}
		
		<section class="grid grid-cols-[300px_1fr]">
			<div class="pt-8 pl-6 bg-blue-50 h-full min-h-screen">
				{include sidebarNav from 'categoryTreeNav.latte'}
			</div>
			<div class="content-area">
				{block underHeaderRight}{/block}
				<div class="mt-8">
					<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
					
					{include content}
				</div>
			</div>
		</section>
	</main>
	
	{block scripts}
		<script src="https://unpkg.com/nette-forms@3"></script>
	{/block}
	
	{block lazyLoadScripts}
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				naja.initialize();
			});
		</script>
	{/block}
</body>
</html>
