{block title}{$category->getName()}{/block}
{block pageType}category-detail{/block}
{block content}

<h1>{$category->getName()}</h1>

{form filterForm, class=>'mb-3'}
	<label>Řazení:</label> {input order}
	<label>Cena od:</label> {input priceFrom}
	<label>Cena do:</label> {input priceTo}
	<input type="submit" value="Filtrovat">
{/form}

{include '../Product/list-tiles.latte', products => $products}