{block title}{$category->getName()}{/block}
{block pageType}category-detail{/block}
{block content}

<h1>{$category->getName()}</h1>

{include '../Product/list-tiles.latte', products => $category->getProducts()}