<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Academi Store</title>
	
	{block assets}
		<link href="/assets/css/utility-admin.css" rel="stylesheet">  <!-- Tailwind compiled utilities -->
		<link href="/assets/css/admin.css" rel="stylesheet">  <!-- SASS compiled output -->
		<link href="/assets/css/datagrid/dg-bootstrap.css" rel="stylesheet">
		<link href="/assets/css/datagrid/datagrid.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		
		{*Select2*}
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
		
		<script src="/assets/js/admin.341599157.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
	{/block}
</head>

<body class="{block pageType}dashboard{/block} bg-gray-800 font-sans leading-normal tracking-normal mt-12">
	<header>
		{include dropdownNav from 'navigation.latte'}
	</header>
	
	<main>
		<div class="flex flex-col md:flex-row">
			{include sidebarNav from 'navigation.latte'}
			
			<section class="flex-1">
				<div id="main" class="main-content min-h-screen flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5 w-full">
					<div class="bg-gray-100 pt-3">
						<div class="bg-gradient-to-r p-4 shadow text-lg">
							<h1 class="font-bold pl-2">{block sectionTitle /}</h1>
						</div>
					</div>
					
					<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
					<div class=" ml-6 mt-8">
						{include content}
					</div>
				</div>
			</section>
		</div>
	</main>
	
	{block lazyLoadScripts}
		<script src="https://unpkg.com/nette-forms@3"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				naja.initialize();
			});
			
			/* Toggle dropdown list */
			function toggleDD(myDropMenu) {
				document.getElementById(myDropMenu).classList.toggle('invisible');
			}

			// Close the dropdown menu if the user clicks outside of it
			window.onclick = function (event) {
				if (!event.target.matches('.drop-button') && !event.target.matches('.drop-search')) {
					var dropdowns = document.getElementsByClassName('dropdownlist');
					for (var i = 0; i < dropdowns.length; i++) {
						var openDropdown = dropdowns[i];
						if (!openDropdown.classList.contains('invisible')) {
							openDropdown.classList.add('invisible');
						}
					}
				}
			};
		</script>
		<script src="/assets/js/datagrid.js"></script>
	{/block}
</body>
</html>
