<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Academi Store</title>
	<link href="/assets/css/public.css" rel="stylesheet">  <!-- Tailwind compiled output -->
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	
	{include content}

	{block scripts}
		<script src="https://unpkg.com/nette-forms@3"></script>
		<script src="https://cdn.tailwindcss.com"></script> <!-- Dev purpose only -->
	{/block}
</body>
</html>
