
/* Nette */
.flash {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
}
.flash.info {
  background-color: #5bc0de;
}
.flash.success {
  background-color: #75bf4c;
}
.flash.error {
  background-color: #d9534f;
}
