parameters:
    academi:
        product_image_max_size_kb: 1024
        product_image_path: '/images/product/'
        product_image_medium: 500x500
        product_image_small: 200x200
    database:
        driver: pdo_pgsql
        host: postgres
        dbname: ::getenv('POSTGRES_STORE_DBNAME')
        port: 5432
        user: ::getenv('POSTGRES_STORE_USER')
        password: ::getenv('POSTGRES_STORE_PASSWORD')

application:
	errorPresenter:
		4xx: Front:Error:Error4xx
		5xx: Front:Error:Error5xx
	mapping: App\Module\*\**Presenter


latte:
	strictTypes: yes
	strictParsing: yes
	extensions:


di:
	export:
		parameters: no
		tags: no

includes:
	- doctrine.neon