parameters:
    database:
        driver: pdo_pgsql
        host: postgres
        dbname: academistore
        port: 5432
        user: academi
        password: changeMe!

application:
	errorPresenter:
		4xx: Front:Error:Error4xx
		5xx: Front:Error:Error5xx
	mapping: App\Module\*\**Presenter


latte:
	strictTypes: yes
	strictParsing: yes
	extensions:


di:
	export:
		parameters: no
		tags: no

includes:
	- doctrine.neon