services:
	- App\Core\RouterFactory::createRouter
	- App\Module\Admin\Accessory\AdminAuthenticator
	- App\Module\Admin\Accessory\Form\ProductFormFactory
	- App\Model\Product\ProductImage
	- App\Model\Product\ProductPrice
	- App\Core\Settings(%academi%, %debugMode%, %appDir%)
	- App\Model\Product\ProductEventSubscriber

latte:
	extensions:
		- App\Module\Front\Accessory\LatteExtension

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
