services:
	- App\Core\RouterFactory::createRouter
	- App\Module\Admin\Accessory\AdminAuthenticator
	- App\Module\Admin\Accessory\Form\ProductFormFactory

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
