{block title}Objednávka dokončena{/block}
{block content}

<h1>Úspěch!</h1>
<p>
	Objednávka byla úspěšně odeslána. O jejím průběhu vás budeme informovat.
</p>

<p>
	Na e-mail zadaný v objednávce jsme vám zaslali shrnující informace.
</p>

{if $order->getPaymentType()->getId() == 2}
	<h2>Platba převodem</h2>
	<p>
		Částku {$totalPrice|formatPrice} uhraďte na bankovní účet ...
	</p>
{/if}