{block content}

<h1>Úspěch!</h1>
<p>
	Objednávka byla úspěšně odeslána. O jejím průběhu vás budeme informovat.
</p>

<p>
	Na e-mail zadaný v objednávce jsme vám zaslali shrnující informace.
</p>

TDOO: V případě platby bankovním převodem to tu třeba zmínit...