{block content}

<h1>Objednávka</h1>

Tady bude:

výpis produktů v košíku (bez možnosti úpravy)<br>
block se způsobem dopravy   |  block se způsobem platby<br>
Nové totals zahrnující cenu dopravy & platby



<h2 class="mt-5">Produkty v košíku</h2>
